body {
  margin: 0;
        font-family: Arial, Helvetica, sans-serif;
           }
      .hero-image {
        background-image: url("https://images4.alphacoders.com/618/618435.jpg");
        background-color: #cccccc;
        height: 956px;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        position: relative;
}
