body {
  margin: 0;
        font-family: Arial, Helvetica, sans-serif;
           }
      .hero-image {
        background-image: url("https://i.pinimg.com/736x/9d/3c/f8/9d3cf8fd4411b844c62a11f2e9a0aa6f.jpg");
        background-color: #cccccc;
        height: 956px;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        position: relative;
}
